<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/users/login">login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/categories">tarefas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/categories-to-link">atribuir categorias</a>
  </li>
  
</ul>