<nav>
  <ul>
    <%if(locals.user){%>
    <a href="/users/<%-user.cpf %>"><li>Olá ,<%- user.name %></li> </a>
    <% } else { %>
    <a href="/users/login"><li>ENTRAR</li></a>
    <% } %>
    <a href="/"><li>HOME</li></a>
    <a href="/posts/?limit=5&page=1"><li>LISTAGEM</li></a>
    <a href="/posts/add-post"><li>INSERIR</li></a>    
    <a href="/users/"><li>CADASTRE-SE</li></a>
  </ul>
</nav>
