<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   

    <title>Categorias</title>
  </head>
  <body>
    <div class="box">
        <header class="jumbotron"></header>
      <div class="container">
        <%- include('./includes/navbar', { user: user || undefined}) %>
        <main>
          <div class="mainContainer">
            <h2>Usuários:</h2>
             <div class="form">
              <form action="/users/login/" method="post" >
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <br>                
                <br>
                <label for="password">Senha:</label>
                <input type="password" name="password" required>
                <br>  
                <br>                  
                <input class="button" id="submit" type="submit" />          
              </form>    
             
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
