<li>
  <a href="/posts/<%= post.id %>" class="post-card">
    <div id="child">
      Titulo: <%= post.title %>
      <br />
      Data:<%= new Date( post.createdAt).toLocaleDateString() %>
      <br />
    </div>
  </a>
</li>
